@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1557284982442'); /* IE9 */
  src: url('iconfont.eot?t=1557284982442#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABrgAAAKJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBFIEWATYCJAMMCwgABCAFhG0HQhvoBciusCnDr0iR3LrJxsYT54dXA4CLn4uHrzX0/d29C4ICYM3jU0bV8XVNJZCx0ZUoLKBQrKvzv9P275hLmDBkt2Sspbt+0nSlL80tD4rnUSDsmAohERKEQ+jCRG6esIYJHeiwASenDwhL+Tf0kEOX0T5x7/RPoEDmsyy3tef5mEBdgoHuZVGcSAElyA1jF7iE2wSaDdHU9rcPL6FfYS0KxD3OPOjPRRWFFRqFumZnES9VGtOjJPAi/H7840Q/SZVZKw/uboWw+nN+dXmsyz4hRoD7K2QsAIW4Wps9r0swTpdmbXd7Za0Iaa5EVYFQqqtr+w+PJIiaVd8KZpAm3ZTMFZH4m/yu6zOo4/wUsIzZ3rcnUXd2Buw8vD4t74buww+DffypxsPPQx99fzOQh7eb+3o/zOO7o6MHvn3f61PmpmYuZ6bmLsO54LxydqXquu6qLGAHF47kwwytwf3J/bmb59da/N9PAT/Om3BmkaFRorfsj8l69hVdYdlyUaWu1PRn/SPdCdjQjGNWsNvfeGPfXblDY07GkDQYRNZogizsAiotNlBrtIVm83b2t+ghdYnShDm3AKHTE5J275F1+iEL+4tKv3/UOqMLzc7G1IktpoIPbkj0FIbE7xAeiJw6DjUYNZ4ja6SezCpC7jXKkieIbVjFwg7mKOdYUzaZoxQlVIqMbIP7ME0FKaSIMVBGpFQxb5q07kVGIDIYtEdCHgWFCF8HwQWEHPXHK4Olz59DTEPKI1uaauLXkFTikxM2g9WD3NHmvZru5ZlSE+NQFIqgJCFDbINpKJUSiKJ+WgwFFEM0Il2YZ9rDaF+tsb4++4AS1ob1QI4UOYrGWxEGiS/aI1Gln3p5AgAAAAA=') format('woff2'),
  url('iconfont.woff?t=1557284982442') format('woff'),
  url('iconfont.ttf?t=1557284982442') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1557284982442#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkbox:before {
  content: "\ead4";
}

.icon-checkboxblank:before {
  content: "\e63a";
}

