* {
  padding: 0;
  margin: 0;
}

html{
  min-width: 300px;
}
body {
  min-width: 300px;
  width: 100%;
  height: 100%;
/*  background: linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  background: -o-linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  background: -ms-linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  background: -moz-linear-gradient(to right, #fddb92 0%, #d1fdff 100%);
  background: -webkit-linear-gradient(to right, #fddb92 0%, #d1fdff 100%);*/
  background: #fff;
  scroll-behavior:smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  transition: 0.5s ease all;
}

/* 这个class不提供直接样式，是专门针对“桌面小人血小板”制作，添加了该class的内容将会在hover的时候被血小板说出来 */
.common-hover-show{

}

.common-btn {
  border: 1px solid #B18F6A;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 15px;

  color: #F1562A;
  font-size: 16px;
  text-decoration: none;
  line-height: 1;
  transition: all 0.3s;
  background: transparent;
  font-weight: 500;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.common-btn:hover {
  background: #C8C8A9;
  color: #555;
  opacity: 0.8;
  box-shadow: 0px 0px 5px #666 inset;
}

.common-btn:focus{
  outline: 0;
}


/*参考：https://blog.csdn.net/u013594477/article/details/80353850 */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;*/
  background-color: #fff;
  border-radius: 10px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

/*定义最上方和最下方的按钮*/
::-webkit-scrollbar-button {
  background-color: #000;
  border: 1px solid yellow;
  display: none;
}


/*
!*图片滤镜*!

!*红艳*!
.img-filter-1{
  background: linear-gradient(to right, rgba(255,129,119,0.5) 0%, rgba(255,134,122,0.5) 0%, rgba(255,140,127,0.5) 21%, rgba(249,145,133,0.5) 52%, rgba(207,85,108,0.5) 78%, rgba(177,42,91,0.5) 100%);
  background: -o-linear-gradient(to right, rgba(255,129,119,0.5) 0%, rgba(255,134,122,0.5) 0%, rgba(255,140,127,0.5) 21%, rgba(249,145,133,0.5) 52%, rgba(207,85,108,0.5) 78%, rgba(177,42,91,0.5) 100%);
  background: -ms-linear-gradient(to right, rgba(255,129,119,0.5) 0%, rgba(255,134,122,0.5) 0%, rgba(255,140,127,0.5) 21%, rgba(249,145,133,0.5) 52%, rgba(207,85,108,0.5) 78%, rgba(177,42,91,0.5) 100%);
  background: -moz-linear-gradient(to right, rgba(255,129,119,0.5) 0%, rgba(255,134,122,0.5) 0%, rgba(255,140,127,0.5) 21%, rgba(249,145,133,0.5) 52%, rgba(207,85,108,0.5) 78%, rgba(177,42,91,0.5) 100%);
  background: -webkit-linear-gradient(to right, rgba(255,129,119,0.5) 0%, rgba(255,134,122,0.5) 0%, rgba(255,140,127,0.5) 21%, rgba(249,145,133,0.5) 52%, rgba(207,85,108,0.5) 78%, rgba(177,42,91,0.5) 100%);
}
!*清淡*!
.img-filter-2{
  background: linear-gradient(120deg, rgba(132,250,176,0.2) 0%, rgba(143,211,244,0.2) 100%);
  background: -o-linear-gradient(120deg, rgba(132,250,176,0.2) 0%, rgba(143,211,244,0.2) 100%);
  background: -ms-linear-gradient(120deg, rgba(132,250,176,0.2) 0%, rgba(143,211,244,0.2) 100%);
  background: -moz-linear-gradient(120deg, rgba(132,250,176,0.2) 0%, rgba(143,211,244,0.2) 100%);
  background: -webkit-linear-gradient(120deg, rgba(132,250,176,0.2) 0%, rgba(143,211,244,0.2) 100%);
}
*/

.common-img-scale {
  transition: all 0.5s;
  outline: 0;
}

.common-img-scale:hover {
  transform: scale(1.2);
}

.common-text-selected {
  color: #F1562A;
}


.common-route-link{
  color: #F1562A;
  cursor: pointer;
}


/* 对ul样式和li样式进行定义 */
.common-list-ul{
  list-style: none;
}
.common-list-ul li:before{
  content:'';
  width: 8px;
  height: 8px;
  top:6px;
  float: left;
  position: relative;

  margin-right: 8px;
  background: #70e7e5;
  border:solid #a5a5a5 2px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
}

.common-list-li{
  padding-bottom: 5px;
}

/* 定义a标签样式 */
.common-link {
  font-size:16px;
  cursor:pointer;
  color: #e87b00;

  transition: all 0.5s;
}
.common-link:link {
  color: #e87b00;
  text-decoration:none;
  cursor:pointer;
}
.common-link:active{
  color: #e87b00;
  cursor:pointer;
}
.common-link:visited {
  color: #e87b00;
  text-decoration:none;
  cursor:pointer;
}
.common-link:hover {
  color: #f1562a;
  text-decoration:none;
  cursor:pointer;
}



/* 通用文章标题样式 */
.common-title-link{
  cursor:pointer;
  color: #333;
  font-family: "Comic Sans MS", "Helvetica Neue", 微软雅黑, "Microsoft Yahei", "Microsoft Yahei", -apple-system, sans-serif;
  transition: all 0.5s;
}

.common-title-link:link {
  color: #e87b00;
  text-decoration:none;
  cursor:pointer;
}
.common-title-link:active{
  color: #e87b00;
  cursor:pointer;
}
.common-title-link:visited {
  color: #333;
  text-decoration:none;
  cursor:pointer;
}
.common-title-link:hover {
  color: #fff;
  /*text-shadow: rgb(69, 45, 45) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 1px, rgb(255, 255, 251) 0px 0px 2px;*/
  text-shadow: #000 0px 1px 1px, #000 -1px 0px 2px, #000 0 0 5px;
  text-decoration:none;
  cursor:pointer;
}

/* 分页显示的导航栏 */
.common-page-split-ul{
  list-style: none;
  display: block;
  text-align: center;
}

.common-page-split-li{
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  position: relative;
  text-align: -webkit-match-parent;
  cursor: pointer;
  outline: none;
  color: #888;
}

.common-page-split-li:hover{
  background: rgba(250,250,250,0.7);
}

.common-page-split-span{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.common-page-split-li-selected{
  background: #1ABC9C;
  color: #fff;
}
.common-page-split-li-selected:hover{
  background: #1ABC9C;
  color: #fff;
}
